<!--<form [formGroup]="myForm" (ngSubmit)="save()">-->

<!--  <div>-->
<!--    <input type="text" [formControl]="username">-->
<!--    <span *ngIf="myForm.controls.username.errors?.required">input required</span>-->
<!--    <span *ngIf="myForm.controls.username.errors?.minlength">min length is - -->
<!--      {{myForm.controls.username.errors?.minlength.requiredLength}}-->
<!--      ,actual length - {{myForm.controls.username.errors?.minlength.actualLength}}</span>-->
<!--  </div>-->

<!--  <div>-->
<!--    <input type="text" formControlName="password">-->
<!--    <span *ngIf="myForm.controls.password.errors?.required">input required</span>-->
<!--    <span *ngIf="myForm.controls.password.errors?.minlength">min length is - -->
<!--      {{myForm.controls.password.errors?.minlength.requiredLength}}-->
<!--      ,actual length - {{myForm.controls.password.errors?.minlength.actualLength}}</span>-->

<!--  </div>-->


<!--  &lt;!&ndash;  <button [disabled]="myForm.invalid">save</button>&ndash;&gt;-->
<!--  <button>save</button>-->
<!--</form>-->
