<form #tref (ngSubmit)="submit(tref)">
  <select name="user" [(ngModel)]="user">
    <option value="{{this.item.id}} {{this.item.name}} {{this.item.username}} {{this.item.email}} {{this.item.address.city}} {{this.item.address.street}}  {{this.item.phone}}  {{this.item.website}} {{this.item.company.name}} {{this.item.company.catchPhrase}}  {{this.item.company.bs}}"  *ngFor="let item of users">{{item.name}}</option>
  </select>
  <button>save</button>
</form>

<!--<div [(ngModel)]="user">-->
<!--  <h3>{{user.name}}-{{user.username}}-->
<!--    <br>-->
<!--    {{user.email}}-->
<!--  </h3>-->
<!--  {{user.address.city}} {{user.address.street}}-->
<!--  <br>-->
<!--  {{user.phone}}  {{user.website}}-->
<!--  <br>{{user.company.name}} {{user.company.catchPhrase}}  {{user.company.bs}}-->
<!--</div>-->




